* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(136deg, #cb81ff, #3a00ff);
  height: 101vh;
  width: 100%;
  overflow: hidden;
}

.main-container {
  width: 80%;
  display: flex;
  /* margin: auto; */
  flex-wrap: wrap;
  position: relative;
  top: 50px;
  justify-content: space-evenly;
  float: right;
  padding: 20px;
  gap: 5%;
}

.containt-main-1 {
  width: 65%;
  padding: 10px;
  height: 630px;
  overflow-y: scroll;
}

.containt-main-1::-webkit-scrollbar {
  width: 0;
}
.containt-main-1::-webkit-scrollbar-track {
  width: 0;
}

.containt-main-1::-webkit-scrollbar-thumb {
  display: none;
}

.top-project-main {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}


.icon-top-main{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.icon-top-main i{
  padding: 5px;
  cursor: pointer;
  border-radius: 12px;
}

.icon-top-main i:hover{
  background-color:#852dc0;
  
}


.title-today {
  width: 85%;
  font-size: 1.3rem;
}


/* container main 2 calender list */


.containt-main-2 {
  width: 30%;
}


.calender-title{
    font-size: 1.3rem;
    padding: 20px;
}



.my-project-title {
  padding: 10px;
  font-size: 1.1rem;
}

.hr-line {
  width: 95%;
  display: flex;
  height: 1px;
  background: rgba(255, 255, 255, 0.715);
  margin: auto;
}

/* list to do  */

#all-projects {
  display: grid;
  padding: 10px 5px;
  row-gap: 10px;
}

#all-projects li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 22px;
}

#all-projects li:hover {
  background: #9f9c9c69;
}



#day-input{
  padding-left: 35px !important;
}

#all-projects li h3 {
  color: black;
  font-weight: 200;
  position: relative;
  padding-left: 30px;
  padding-bottom: 2px;
}

#all-projects li h3::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 50px;
}

.normal li h3::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 50px;
}

.normal{
  display: flex;
  align-items: center;
}

.normal h3 {
 width: 90%;
}

.normal i{
  display: none;
  padding: 2px 5px;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
}


.normal i:hover{
  background-color: #9b59b6;
}

#all-projects li:hover>.normal>i{
  display: flex;
}

#all-projects-tomarrow li:hover>.normal>i{
  display: flex;
}


.time-list i {
  padding-left: 5px;
}

#all-projects li span {
  /* padding-left: 25px; */
  /* padding-top: 10px; */
}

#all-projects li span i {
  padding-left: 30px;
  padding-right: 5px;
}

#all-projects li span .time-list {
  font-size: 0.9rem;
}

#all-projects li span .tags-list {
  float: right;
  padding-right: 10px;
  color: #cb81ff;
}

.checked-list {
  text-decoration: line-through;
  position: relative;
  color: #979497 !important;
}

.checked-list::before {
  background: red;
  margin: 2px;
}


.thisis-addd-list{
 color: #979497;
 font-weight: 600;
 font-size: 1.9rem;
 padding-top: 200px;
 padding-left: 60px;
 font-family: 'Courier New', Courier, monospace;
 font-style: italic;
 display: none;
}





/* side-bar menu cods */

.toggle-button {
  display: flex;
  position: relative;
  top: 20px;
  left: 20px;
  align-items: center;
  width: 70px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #333333;
  border-radius: 50px;
}

.side-bar-menu {
  position: absolute;
}

.button-toggle {
  display: grid;
  gap: 2px;
  z-index: 2;
  padding: 5px 5px;
  cursor: pointer;
}

.button-toggle span {
  width: 10px;
  height: 1px;
  background-color: white;
  border-radius: 25px;
}

.side-menu-links {
  position: absolute;
  /* background-color: black; */
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 250px;
  padding: 20px;
  z-index: 3;
  background-color: #852dc0;
  top: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  top: -0px;
  left: -250px;
}

.side-menu-links::-webkit-scrollbar {
  width: 0;
}
.side-menu-links::-webkit-scrollbar-track {
  width: 0;
}

.side-menu-links::-webkit-scrollbar-thumb {
  display: none;
}

.side-baar-menu-pro {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.profile-manu {
  display: flex;
  gap: 5px;
  padding-left: 10px;
  width: 80%;
  align-items: center;
  /* justify-content: center; */
}

.profile-img-pro {
  width: 20%;
  display: flex;
  align-items: center;
  justify-self: center;
  border: 2px solid #ff009d;
  border-radius: 22px;
}

.profile-img-pro img {
  width: 100%;
  aspect-ratio: 2/2;
  object-fit: cover;
}

.profile-manu span {
  width: 80%;
  font-size: 1.3rem;
}

.profile-menu-icons {
  display: flex;
  gap: 3px;
  align-items: center;
}

.profile-menu-icons i {
  cursor: pointer;
  padding: 5px;
}
.profile-menu-icons i:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.side-bar-manu-opt {
  display: grid;
  gap: 5px;
  padding-top: 10px;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.span-links-all {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 22px;
  cursor: pointer;
}

.span-links-all:hover {
  background-color: #8400ff;
}

.div-profile-tags-more {
  display: grid;
  font-size: 1.1rem;
}

.my-projects-links {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.my-projects-links span {
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.my-projects-links i {
  margin-left: 65px;
  cursor: pointer;
  padding: 5px;
}
.my-projects-links i:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.not-add-projects {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  /* display: block; */
}

.not-add-projects:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.not-add-projects i {
  padding-right: 5px;
}

.ll-projects-links {
  display: grid;
}

.all-projects-here {
  display: grid;
  padding: 0px 10px;
}

.all-projects-here span {
  padding: 5px;
  cursor: pointer;
}

.all-projects-here span:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.all-team-links {
  display: grid;
  margin-top: 10px;
}

.my-team-title {
  display: flex;
  padding: 5px 0px;
}

.my-team-title span {
  font-size: 1.3rem;
  font-weight: 600;
}

.my-team-title i {
  margin-left: 90px;
  padding: 5px;
  cursor: pointer;
}

.my-team-title i:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.not-add-teams {
  padding: 5px;
  margin-bottom: 10px;
}

.not-add-teams:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

.not-add-teams i {
  padding-right: 5px;
}

.all-teams-links {
  display: grid;
}

.all-teams-here {
  display: grid;

}

.all-teams-links span {
  display: flex;
  padding: 2px 5px;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}

.all-teams-links span i {
  padding-right: 5px;
}

.all-teams-links span:hover {
  background-color: #8400ff;
  border-radius: 22px;
}

/* calender code */

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.calender-header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.icons {
  display: flex;
}
.icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.3rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child {
  margin-right: -10px;
}
header .icons span:hover {
  background: #f2f2f2;
}
header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar {
  padding: 20px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days {
  margin-bottom: 20px;
}
.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}
.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #9b59b6;
}
.days li:not(.active):hover::before {
  background: #f2f2f2;
}


.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  margin-bottom: 10px;
}




/* add task */


.add-task-button{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* transform: translate(50%, 50%); */
  width: 100%;
  /* display: grid; */
  display: none;

}


.containt-add-tast-list{
width: 100%;
display: grid;
padding: 10px;
background-color: #852dc0;
z-index: 222;
border-radius: 12px;
transform: translate(-150px,-50px);
box-shadow: 0px 0px 5px 0px black;
}


.containt-add-tast-list input[type=text]{
  outline: none;
  border: none;
  background-color:#852dc0;
  padding: 5px;
  font-size: 1.3rem;
  color: rgb(255, 128, 0);
  margin-bottom: 10px;
  
}

.containt-add-tast-list input::placeholder{
  font-size: 1.2rem;
  color: black;
  font-style: italic;
  font-family: monospace;
}


.container-add-tast-tags{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}


.container-tabs-tab{
  display: flex;
  /* width: 100%; */
  /* font-size: 1.1rem; */
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.container-list-tag{
  display: flex;
  /* width: 100%; */
  font-size: 1.4rem;
  /* justify-content: space-between; */
  visibility: hidden;
  gap: 10px;
}


.span-choose{
  display: flex;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
  position: relative;
}

.container-tabs-tab span{
  
}



.add-task-show{
  display: none;
}

.notthisone{
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.choose-date-down{
  position: absolute;
  top: 30px;
  left: 0;
  background: #8400ff;
  padding: 10px;
  /* display: grid; */
  border: 1px solid black;
  border-radius: 6px;
  display: none;
}


.all-list-date-data{
  display: grid;
}


.choose-date-down span{
  padding: 2px;
  border-radius: 5px;
}

.choose-date-down span:hover{
  background: #9f9c9c69;
}


/* .container-add-tast-tags span:first-child{
  float: left;
  width: 60%;
}


.container-add-tast-tags span:last-child{
  float: right;
  width: 20%;
} */


.button-container-tag{
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}


.tag-tab{
  font-size: 1.2rem;
  padding-left: 5px;
}

.button-container-tag button{
  background-color: #ff0000;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 8px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  
}




/* onclick class for changin between pages */
.click-for-change{
  display: none;
}








/* tomarrow code */
#all-projects-tomarrow {
  display: grid;
  padding: 10px 5px;
  row-gap: 10px;
}

#all-projects-tomarrow li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 22px;
}

#all-projects-tomarrow li:hover {
  background: #9f9c9c69;
}



#all-projects-tomarrow li h3 {
  color: black;
  font-weight: 200;
  position: relative;
  padding-left: 30px;
  padding-bottom: 2px;
}

#all-projects-tomarrow li h3::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: flex;
  position: absolute;
  left: 0;
  border-radius: 50px;
}


#all-projects-tomarrow li span {
  padding-left: 25px;
  /* padding-top: 10px; */
}

#all-projects-tomarrow li span .time-list {
  font-size: 0.9rem;
}

#all-projects-tomarrow li span .tags-list {
  float: right;
  padding-right: 10px;
  color: #cb81ff;
}

#all-projects-tomarrow i{
  padding-right: 5px;
}











/* pop up for list  */
.popup-todo-list{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(200%, 15%);
  background-color: #852dc0;
  padding: 0px 0px 5px 0px;
  z-index: 2;
  display: none;
  min-width: 270px;
  min-height: 400px;
  max-height: 450px;
}


.top-popup-list{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: fit-content;
}

.date-pop-list{
  width: 95%;
  display: flex;
  gap: 4px;
  z-index: 1;
  color: white;
}

.top-popup-list span{
  font-size: 1.3rem;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline red 2px;
  padding: 3px;
}

.top-popup-list i{
  padding: 2px;
  border-radius: 22px;
  cursor: pointer;
  
}

.top-popup-list i:hover{
  background-color: #8400ff;
}

.img-list-li{
  width: 100%;
  height: 270px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  background-color: black;
  position: absolute;
  /* top: 10px;
  left: 10px; */
  z-index: -1;
  padding: 1px;
}

.img-list-li img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  
  
}


.active-list{
  display: grid;
}



.containt-list-open-popup{
  position: absolute;
  bottom: 5px; 
  width: 100%;
}


.top-task-containt-list span:not(:last-child){
  color: blue;
  text-decoration: underline green 1px;
}

.top-task-containt-list{
  display: flex;
  padding: 5px 5px;
}

.top-task-containt-list span:first-child{
  width: 80%;
  display: flex;
}

.top-task-containt-list span:last-child{
  color: black;
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
}

.top-task-containt-list span:last-child:hover{
  text-decoration: underline blue 1px;
}


.text-todolist-popup{
  display: flex;
  /* overflow-X: scroll; */
}


.span-popup-cal::-webkit-scrollbar {
  display: none;
}

.span-popup-cal {
  display: flex;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 10px;
  /* padding-left: 2px; */
  width: 100%;
  justify-content: center;
}

/* .span-popup-cal{
  display: flex;
  overflow-x: scroll;
} */


.span-popup-cal li{
  display: grid;
  background-color: #333333;
  padding: 5px;
  border-radius: 7px;
  min-width: 150px;
  max-width: 200px;
  min-height: 100px;
  max-height: 130px;
  cursor: pointer;
  position: relative;
  width: 100%;
}


.nepre{
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 1;
}

.nepre span{
  padding: 25px 5px;
  color: white;
  border-radius: 12px;
}

.nepre span:first-child{
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 2.3rem !important;
  cursor: pointer;
}




.nepre span:last-child{
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 2.3rem !important;
  cursor: pointer;
}

.nepre span:first-child:hover,
.nepre span:last-child:hover{
  background-color: #000000;

}


.mySlides {display:none;}





/* profile page  */

#onclickopenid{
  cursor: pointer;
}

.tipofprofilebtn{
  display: flex;
  width: 100%;
}

.tipofprofilebtn i{
  cursor: pointer;
  padding: 2px 5px;
  display: flex;
  align-content: center;
  /* align-items: center; */
  /* justify-content: center; */
  border-radius: 22px;

}

.tipofprofilebtn i:hover{
  background-color: #9b59b6;

}



.profile-main-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: none;
}

.profilefor-selected{
  display: grid;
  background-color:#852dc0;
  width: 30%;
  padding: 20px;
  border-radius: 12px;
  /* height: 100%; */
}

.profilefor-top{
  display: grid;
  /* display: flex; */
  align-items: center;
  justify-self: center;
}

.profile-top-img{
  width: 100%;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
}

.profile-top-img img{
  width: 100%;
  height: 200px;  
  /* aspect-ratio: 1; */
  object-fit: cover;
}


.profile-top-text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}


.profilefor-rest{
  display: grid;
}

.profile-userfild{
  display: flex;
}

.profile-username{
  display: grid;
  position: relative;
  width: 100%;
  gap: 2%;
}

/* .profile-username-first,
.profile-username-last{
  display: grid;
  position: relative;
  width: 49%;
  
}

.profile-username-first label,
.profile-username-last label{
  position: relative;
  width: 49%;
  top: -17px;
}

.profile-username-first input,
.profile-username-last input{
  position: absolute;
  width: 100%;
  padding: 2px;
  outline: none;
  border: 1px solid #6b36e5;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #6b36e5;
  font-family: 'Times New Roman', Times, serif;
} */








/* search button link codes  */



.search-for-list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}


.search-list{
  background-color: #852dc0;
  padding: 20px;
  width: 30%;
  transform: translate(70%,180%);
  position: relative;
  z-index: 3;
  display: none;
}


.search-list-input{
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-list-input input{
  padding: 5px;
  outline: none;
  border: 1px solid white;
  font-size: 1.2rem;
  font-family: monospace;
  border-radius: 22px;
}

.search-list-input button{
  padding: 5px;
  font-size: 1.2rem;
  font-family: monospace;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
}


.search-list-input button:hover{
  background: linear-gradient(136deg, #cb81ff, #3a00ff);
  border: 1px solid #cb81ff;
}


.search-list-rest{
  display: grid;

}

.search-history{
  display: flex;
  
}
.search-history span{
  font-family: monospace;
  color: #c0b8c0;
  padding: 20px;
}


.search-tags ul{
  list-style-type: none;
}

.search-tags span{
  font-family: monospace;
  color: #c0b8c0;
  padding: 20px;
}




/* priority code page  */

.chose-priority{
  position: relative;
}

.priority-list-style{
  background-color: #8400ff;
  padding: 5px;
  display: none;
  position: absolute;
  top: 128px;
  left: 90px;
  min-width: max-content;
}

.priority-list-style-active{
  display: grid;
}

.priority-list-style span{
  width: 100%;
  /* box-shadow: 0px 0px 1px black; */
  padding: 3px;
  cursor: pointer;
}

.priority-list-style span::after{
  content: "";
  display: flex;
  /* width: calc(100%-10px); */
  height: 1px;
  background-color: white;
  margin-top: 4px;
}

.priority-list-style span:hover{
  background-color: #852dc0;
  border-radius: 6px;
}



/* remainder code  */
.remainder-list-style {
  display: none;
  position: relative;
  
}

.remainder-list-style-active{
display: grid;
}

.remainder-list-container {
  position: absolute;
  top: 20px;
  left: -150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #8400ff;
	border: 1px solid #8400ff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: max-content;
  align-content: center;
  justify-content: center;
  padding: 10px;
  border-radius: 7px;
}

.remainder-list-container input{
  background-color: #852dc0;
  padding: 2px;
  border-radius: 22px;
  color: white;
  border: 1px solid #8400ff;
  
}

.remainder-list-container button{
  background-color: #ff0000;
  padding: 2px;
  border-radius: 22px;
  color: white;
  outline: none;
  border: 1px solid #8400ff;
  cursor: pointer;
}
